# Webshare rotating proxies (HK/MO/CN)
PROXY_HK_1=http://user-HK-rotate:pass@p.webshare.io:80
PROXY_HK_2=http://user-HK-rotate:pass@p.webshare.io:80
PROXY_MO_1=http://user-MO-rotate:pass@p.webshare.io:80
PROXY_MO_2=http://user-MO-rotate:pass@p.webshare.io:80
PROXY_CN_1=http://user-CN-rotate:pass@p.webshare.io:80
PROXY_CN_2=http://user-CN-rotate:pass@p.webshare.io:80
